{% load my_filters %}
{% if user_profile %}
    {% for user in user_profile %}

        {% for last_message in last_messages %}
            {% if last_message.user == user %}
                <li>
                <a href="{% url 'new_message' user %}" data-conversation="#{{ user }}">
                    {% if user_profile %}
                                <img class="content-message-image" src="{{ user.profile.image.url }}" alt="">
                    {% endif %}
                    <span class="content-message-info">
                        <span class="content-message-name">@{{ user }}</span>
                            {% for last_message in last_messages %}
                                {% if last_message.user == user %}
                                    <span class="content-message-text">
                                        {% if last_message.last.sender == request.user %}Me: {% else %}Them: {% endif %}
                                        {{ last_message.last.body }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                    </span>
                    <span class="content-message-more">
                        <span class="content-message-unread">5</span>
                                {% if last_message.user == user %}
                                    <span class="content-message-time">
                                            {{ last_message.last.date|timesince_hours }}
                                    </span>
                                {% endif %}

                    </span>
                </a>
            </li>
            {% else %}
                <a href="{% url 'new_message' user %}">
                    <li>
                        <a href="{% url 'chats' user %}" data-conversation="#{{ user }}">
                            {% if user_profile %}
                                        <img class="content-message-image" src="{{ user.profile.image.url }}" alt="">
                            {% endif %}
                            <span class="content-message-info">
                                <span class="content-message-name">@{{ user }}</span>
                                <span class="content-message-text">
                                    Start Chart
                                </span>
                            </span>
                        </a>
                    </li>
                </a>
            {% endif %}
    {% endfor %}
{% else %}
<!-- Display "No results" message -->
<li>
    <span class="content-message-info">
         <span class="content-message-text">No results found.</span>
    </span>
</li>
{% endif %}
