{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<div id="main-wrapper">
  <div class="main-content">

      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="logo">
      <img src="{% static 'assets1/logo.svg' %}" />
    </div>

    <div class="l-part">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
                <br>
              <input type="submit" value="Create Profile" class="btn1" />
        </form>

    </div>
  </div>
</div>



{% endblock %}