{% extends 'base.html' %}
{% load my_filters %}
{# i have hard coded the "load my_filters" inside django templatetags and added a file "my_filters.py" #}
{# The my_filters.py has the function timesince_hours and ends_with(for the mp4 file type) #}
{#the django templatetags are in the directory External Libraries\Python311\Lib\site-packages\django\templatetags\my_filters.py#}
{#and you can't see the my_filters.py file but it is there. You can type the path and it will appear#}
{% load static %}

{% block content %}


    <!-- Modal -->
    {% for story in stories %}
        <div class="modal fade" id="story_id_{{ story.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{ story.following.profile.user }} Stories</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Carousel -->
            <div id="carousel_{{ story.id }}" class="carousel slide" data-ride="carousel" data-wrap="true">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for image in story.story.all %}
                <li data-target="#carousel_{{ story.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>

              <!-- Slides -->
              <div class="carousel-inner">
                      {% for image in story.story.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                             {% if image.content.url|lower|ends_with:".mp4" %}
                              <video id="video-{{ story.id }}-{{ forloop.counter }}" width="640" preload="metadata" autoplay muted loop>
                                <source src="{{ image.content.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                              <div class="custom-controls ml-5">
                                <i class="fa fa-play-circle ml-lg-5 mr-3 play-pause-button" data-video-id="{{ story.id }}-{{ forloop.counter }}"></i>

                                <i class="fa fa-volume-high volume-button" data-video-id="{{ story.id }}-{{ forloop.counter }}"></i>
                                <!-- Add more custom controls as needed -->
                              </div>
                            {% else %}
                              <img src="{{ image.content.url }}" class="img-fluid d-block w-100" alt="Slide">
                              <div class="text">{{ image.caption }}</div>
                            {% endif %}
                           </div>
                      {% endfor %}
                 </div>
    <script>

    </script>
              <!-- Controls -->
                 <!-- Controls -->
                <a class="carousel-control-prev" href="#carousel_{{ story.id }}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carousel_{{ story.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!------Delete post modal--------->
    <div class="modal fade" id="deletepostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Delete Post?</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete Post</button>
      </div>
    </div>
  </div>
</div>

    <!--Post detail Modal -->
{% include 'post-detail.html' %}


    <main class="main-container">
          <section class="content-container">
                <div class="content">
                    <div class="stories" id="stories">
                        <button class="stories__left-button">
                          <i class="fa-solid fa-chevron-left fa-2x"></i>
                        </button>
                        <div class="stories__content">
                            <a href="{% url 'newstory' %}">
                                <button class="story">
                                <div class="story__avatar">

                                  <div class="story__border">
                                    <svg
                                      width="64"
                                      height="64"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <circle r="31" cy="32" cx="32"></circle>
                                    </svg>
                                  </div>

                                  <div class="story__picture">
                                    <img src="{{ user.profile.image.url }}" alt="User Picture" />
                                  </div>

                                </div>
                                    <i class="fa fa-plus fa-3x mt-2" style="position:absolute; background-color: rgba(255, 255, 255, 0.1); color: gray;"></i>
                                <span class="story__user">My Story</span>
                              </button>
                            </a>

                            {% for story in stories %}
                              <!-- Button trigger modal -->
                              <button type="button" class="story story--has-story" data-toggle="modal" data-target="#story_id_{{ story.id }}">
                                <a name="{{ story.id }}" class="showModal">
                                  <div class="story__avatar">
                                    <div class="story__border">
                                      <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                        <circle r="31" cy="32" cx="32"></circle>
                                        <defs>
                                          <linearGradient y2="0" x2="1" y1="1" x1="0" id="--story-gradient">
                                            <stop offset="0" stop-color="#f09433"></stop>
                                            <stop offset="0.25" stop-color="#e6683c"></stop>
                                            <stop offset="0.5" stop-color="#dc2743"></stop>
                                            <stop offset="0.75" stop-color="#cc2366"></stop>
                                            <stop offset="1" stop-color="#bc1888"></stop>
                                          </linearGradient>
                                        </defs>
                                      </svg>
                                    </div>
                                    <div class="story__picture">
                                      {% if story.following.profile.image %}
                                        <img src="{{ story.following.profile.image.url }}" alt="{{ user.username }}" />
                                      {% else %}
                                        <img src="{{ user.profile.image.url }}" alt="User Picture" />
                                      {% endif %}
                                    </div>
                                  </div>
                                  <span class="story__user username_of_story_owner">{{ story.following.profile.user }}</span>
                                </a>
                              </button>

                            {% endfor %}
                        </div> <!-----stories__content ----->

                        <button class="stories__right-button">
                            <i class="fa-solid fa-chevron-right fa-2x"></i>
                        </button>

                    </div>


                    <div class="posts">
                    {% for post in post_items %}
                        <article class="post">
                      <div class="post__header">
                            <div class="post__profile">
                              <a href="#" class="post__avatar">
                                <img src="{% static 'assets1/default-user.png' %}" alt="User Picture" />
                              </a>
                              <a href="{{ post.user.username }}" class="post__user">{{ post.user.username }}</a>
                            </div>

                            <button class="post__more-options" data-toggle="modal" data-target="#deletepostModal">
                              <i class="fa-solid fa-ellipsis fa-lg"></i>
                            </button>
                      </div>

{#                      <a href="{% url 'post_detail' post.id %}">#}
                        <a href="{% url 'post_detail' post.id %}" class="" data-toggle="modal" data-target="#exampleModalCenter2_{{ post.id }}">
                          <div class="post__content">
                                 <div class="post__medias">
                                    {% for media in post.media.all %}
                                        {% if media.file.url|lower|ends_with:".jpg" or media.file.url|lower|ends_with:".jpeg" or media.file.url|lower|ends_with:".png" or media.file.url|lower|ends_with:".gif" %}
                                            <img class="post__media" src="{{ media.file.url }}" alt="Post Content" style="height: 400px; object-fit: cover"/>
                                        {% elif media.file.url|lower|ends_with:".mp4" %}
                                            <video class="post__media" src="{{ media.file.url }}" autoplay muted loop style="height: 400px; object-fit: cover"></video>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                          </div>
                        </a>
{#                      </a>#}

                      <div class="post__footer">
                        <div class="post__buttons">
                                    <!-- Like button -->
                            <button class="like-button" id="like-button-{{ post.id }}" data-postid="{{ post.id }}">
                                {% if request.user in post.likes.all %}
                                     <i class="fa-solid fa-heart fa-2x" style="color: red"></i>{#Unlike#}
                                {% else %}
                                     <i class="fa-regular fa-heart fa-2x"></i> {#like#}
                                {% endif %}
                            </button>
                           <script>


                            </script>

                            {# Comment icon #}
                        {% if comment_counts|get_item:post.id > 0 %}
                              <a href="{% url 'post_detail' post.id %}" class="post__button">
                                    <i class="fa-regular fa-comment fa-2x">
                                        &nbsp;{{ comment_counts|get_item:post.id }}
                                    </i>
                              </a>
                        {% else %}
                              <a href="{% url 'post_detail' post.id %}" class="post__button">
                                    <i class="fa-regular fa-comment fa-2x" >
                                        &nbsp;0
                                    </i>
                              </a>
                        {% endif %}
                                {# Send message icon #}
                          <a href="" class="post__button">
                                <i class="fa-regular fa-paper-plane fa-2x" style="color: black;"></i>
                          </a>

                          <div class="post__indicators"></div>

                          <a href="{% url 'post-favourite' post.id %}"
                               class="post__button post__button--align-right favourite-button"
                               data-post-id="{{ post.id }}"
                               data-is-favourite="{{ post.is_favourite }}" title="favourite">
                               <i class="fa-2x" style="color: var(--text-dark);"></i>
                            </a>


                        </div>

                        <div class="post__infos">
                          <div class="post__likes">
                            <a href="#" class="post__likes-avatar">
                              <img src="{{ post.user.picture.url }}" alt="User Picture" />
                            </a>

                            <span id="like_count_{{ post.id }}">{{ post.like_count }} Likes</span>
                          </div>

                          <div class="post__description">
                            <span>
                                <a class="post__name--underline" href="#"><b>{{ post.user.username }}</b></a>
                              {{ post.caption }}
                            </span>
                          </div>

                            <span class="">
        {#                        {% for tag in post.tags.all %}#}
        {#                            <a href="{{ tag.get_absolute_url }}" style="text-decoration: none">#{{ tag }}</a>#}
        {#                        {% endfor %}#}
                                {% for tag in post.tags.all %}
                                   <a href="{% url 'tag-detail' slug=tag.slug %}">#{{ tag.name }}</a>
                                {% endfor %}
                            </span>


                          <span class="post__date-time">{{ post.posted| timesince_hours }} ago</span>
                        </div>
                      </div>
                    </article>
                    {% endfor %}
                  </div>

                </div>

               {% include 'side-menu.html' %}

          </section>
    </main>


    <script>
     $(document).on('click', '.like-button', function (e) {
    e.preventDefault();
    var postid = $(this).data('postid');
    var csrfToken = $('input[name=csrfmiddlewaretoken]').val();

    $.ajax({
      type: 'POST',
      url: '{% url "index" %}',
      data: {
        postid: postid,
        csrfmiddlewaretoken: csrfToken,
        action: 'post'
      },
      success: function (json) {
        $('#like_count_' + postid).text(json.result + ' Likes');
        if (json.is_liked) {
            button.find('i').removeClass('fa-regular').addClass('fa-solid').css('color', 'red');
        } else {
            button.find('i').removeClass('fa-solid').addClass('fa-regular').css('color', '');
        }
      },
      error: function (xhr, errmsg, err) {
        // Handle error if needed
      }
    });
  });

  $(document).ready(function() {
    var csrftoken = getCookie('csrftoken');

    $('.favourite-button').on('click', function(event) {
        event.preventDefault();

        var post_id = $(this).data('post-id');
        var iconElement = $(this).find('i');

        $.ajax({
            url: $(this).attr('href'),
            type: 'POST',
            dataType: 'json',
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: function(response) {
                // Handle the response as needed
                if (response.is_favourite) {
                    // Post was added to favorites
                    iconElement.addClass('fas fa-bookmark fa-2x');
                    setFavoriteCookie(post_id, true);
                } else {
                    // Post was removed from favorites
                    iconElement.addClass('far fa-bookmark fa-2x');
                    setFavoriteCookie(post_id, false);
                }
            },
            error: function(xhr, status, error) {
                // Handle error if necessary
            }
        });
    });

    // Initialize the icons based on the initial favorite status
    $('.favourite-button').each(function() {
        var isFavourite = $(this).data('is-favourite');
        var iconElement = $(this).find('i');

        if (isFavourite) {
            iconElement.addClass('fas fa-bookmark');
        } else {
            iconElement.addClass('far fa-bookmark');
        }
    });
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function setFavoriteCookie(post_id, isFavorite) {
    document.cookie = 'favorite_' + post_id + '=' + isFavorite + ';path=/';
}

    </script>
{% endblock content %}
