{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="login-box setup-picture">
  <h2>New Post</h2>

{#        That {{ form.whatever, whatever is the name given in forms.py #}
{#            my class is NewPostForm which has the attrs picture caption and tag #}
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <img src='#' id='uploaded' alt="upload picture"> <!-- Uploaded picture goes here -->
       <div class="user-box picture">
        <label for="id_media">Media:</label>
            <input type="file" name="media" id="id_media" multiple>
        </div>


        <div class="user-box">
            {{ form.caption }}
          <label>Caption</label>
        </div>


        <div class="user-box">
            {{ form.tag }}
          <label>Hashtag, Separate each with commas</label>
        </div>

        <div class="user-box">
          <input type="text" name="" disabled>
          <label>Location</label>
        </div>

      <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Share
          </button>
  </form>
</div>

    <script>
        $(function () {

            var picture;
            // Viewing Uploaded Picture On Setup Admin Profile
            function livePreviewPicture(picture) {
                if (picture.files && picture.files[0]) {
                    var picture_reader = new FileReader();
                    picture_reader.onload = function (event) {
                        $('#uploaded').attr('src', event.target.result);
                    };
                    picture_reader.readAsDataURL(picture.files[0]);
                }
            }

            $('.setup-picture form .picture input').on('change', function () {
                $('#uploaded').fadeIn();
                livePreviewPicture(this);
            });

        });
    </script> {#    Picture Loader script #}

{% endblock %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Post</button>
</form>