{% load static %}
{% load my_filters %}
{% block content %}

    <!-- Modal -->
    {% for post in post_items %}
        <div class="modal fade" id="exampleModalCenter2_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 15%;">
                <div class="modal-content" >
                  <div class="modal-body" style="width: 80vw;">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>

                      <div class="post-container">

                        <article class="post">
                              <div class="post__content">
                                     <div class="post__medias">
                                        {% for media in post.media.all %}
                                            {% if media.file.url|lower|ends_with:".jpg" or media.file.url|lower|ends_with:".jpeg" or media.file.url|lower|ends_with:".png" or media.file.url|lower|ends_with:".gif" %}
                                                <img class="post__media" src="{{ media.file.url }}" alt="Post Content" style="height: 100%;"/>
                                            {% elif media.file.url|lower|ends_with:".mp4" %}
                                                <video class="post__media" src="{{ media.file.url }}" autoplay muted loop style="height: 100%;"></video>
                                            {% endif %}
                                        {% endfor %}
                                     </div>
                              </div>

                                 <div class="post__footer" style="margin-top: -35%;">
                                        <div class="post__buttons" >
                                             <div class="post__indicators"></div>
                                        </div>
                                 </div>

                        </article>

                        <article class="post">
                              <div class="post__header">
                                    <div class="post__profile">
                                      <a href="#" class="post__avatar">
                                        <img src="{% static 'assets1/default-user.png' %}" alt="User Picture" />
                                      </a>
                                      <a href="{{ post.user.username }}" class="post__user">{{ post.user.username }}</a>
                                    </div>

                                    <button class="post__more-options">
                                      <i class="fa-solid fa-ellipsis fa-lg"></i>
                                    </button>
                              </div>

                              <div class="comment-section">
                                     <div class="comment_sect">
                                        <p class="">{{ comment_count }} Comments </p>

                                        {% with comments=post_comments|get_item:post.id %}
                                            {% for comment in comments %}
                                                <p><a class="post__name--underline" href="{% url 'profile' comment.user.username %}">
                                                    <b>{{ comment.user.username }}:</b>
                                               </a>
                                                {{ comment.body }}
                                            </p>
                                            {% endfor %}
                                        {% endwith %}
                                     </div>
                              </div>

                              <div class="post__footer">

                                    <div class="post__buttons">
                                        <button type="submit" class="like-btn" data-post-id="{{ post.id }}">
                                            {% if request.user in post.likes.all %}
                                                Unlike
                                            {% else %}
                                                Like
                                            {% endif %}
                                        </button>

                                            {# Comment icon #}
                                        <a href="" class="post__button">
                                             <i class="fa-regular fa-comment fa-2x" style="color: black; font-size: 27px;"></i>
                                        </a>
                                                {# Send message icon #}
                                        <a href="" class="post__button">
                                              <i class="fa-regular fa-paper-plane fa-2x" style="color: black; font-size: 27px;"></i>
                                        </a>


                                        <div class="post__indicators"></div>

                                        <a href="{% url 'post-favourite' post.id %}" class="post__button post__button--align-right">
                                           <svg
                                              width="24"
                                              height="24"
                                              viewBox="0 0 24 24"
                                              fill="none"
                                              xmlns="http://www.w3.org/2000/svg"
                                            >
                                              <path
                                                d="M19.875 2H4.125C3.50625 2 3 2.44939 3 3.00481V22.4648C3 23.0202 3.36563 23.1616 3.82125 22.7728L11.5444 16.1986C11.7244 16.0471 12.0225 16.0471 12.2025 16.1936L20.1731 22.7879C20.6287 23.1666 21 23.0202 21 22.4648V3.00481C21 2.44939 20.4994 2 19.875 2ZM19.3125 20.0209L13.3444 15.0827C12.9281 14.7394 12.405 14.5677 11.8763 14.5677C11.3363 14.5677 10.8019 14.7444 10.3856 15.0979L4.6875 19.9502V3.51479H19.3125V20.0209Z"
                                                fill="var(--text-dark)"
                                                stroke="var(--text-dark)"
                                                stroke-width="0.7"></path>
                                            </svg>
                                        </a>
                                    </div>

                                    <div class="post__infos">
                                        <div class="post__likes">
                                          {% if user.profile.image %}
                                                <a href="#" class="post__likes-avatar">
                                                  <img src="{{ user.profile.image.url }}" alt="User Picture" />
                                                </a>
                                          {% else %}
                                               <a href="#" class="post__likes-avatar">
                                                  <img src="{% static 'assets1/default-user.png' %}" alt="User Picture" />
                                               </a>
                                          {% endif %}
                                          <span>
                                            <a class="post__name--underline" href="#" style="color: var(--text-dark);">{{ post.likes.count }} Likes</a>
                                          </span>
                                        </div>

                                        <div class="post__description">
                                            <span>
                                                <a class="post__name--underline" href="#"><b>{{ post.user.username }}</b></a>
                                              {{ post.caption }}
                                            </span>
                                        </div>

                                        <span class="">
                                            {% for tag in post.tags.all %}
                                               <a href="{% url 'tag-detail' slug=tag.slug %}" style="color: var(--text-dark);">#{{ tag.name }}</a>
                                            {% endfor %}
                                        </span>

                                        <span class="post__date-time">{{ post.posted|timesince_hours }} ago</span>

                                    </div>

                                    <div class="clearfix"></div>
                              <br><br>
                                   <form method="POST" enctype="multipart/form-data" action="{% url 'index' %}">
                                        {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <div style="width: 85%; border: 1px solid salmon">{{ comment_form.as_p }}</div>

                                            <div style="position: relative; margin-left: 87%; margin-top: -5%">
                                                <input class="input-1" type="submit" value="Share" style="color: #1161ee; padding: 5px; font-weight: 900"/>
                                            </div>

                                    </form>

                              </div>

                        </article>

                      </div>

                  </div>
                </div>
              </div>
        </div>

    {% endfor %}

<style>
.post-container {
display: flex;
   height: 85vh;
   background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
}

.post {
  flex: 1;
}
</style>

{% endblock content %}