{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main-container">

  <div class="lg:w-8/12 lg:mx-auto mb-8">

    <header class="flex flex-wrap items-center p-4 md:py-8">

      <div class="md:w-3/12 md:ml-16">
        <!-- profile image -->
{#           {% if profile == "image" %}#}
        <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                     border-2 border-pink-600 p-1" src="{{ profile.image.url }}" alt="no profile">
{#          {% else %}#}
{#          <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full#}
{#                     border-2 border-pink-600 p-1" src="{% static 'assets1/default-user.png' %}" alt="no profile">#}
{#          {% endif %}#}
      </div>

      <!-- profile meta -->
      <div class="w-8/12 md:w-7/12 ml-4">
        <div class="md:flex md:flex-wrap md:items-center mb-4">
          <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
              {{ profile.user }}
          </h2>

          <!-- badge -->
          <span class="inline-block fas fa-certificate fa-lg text-blue-500
                               relative mr-6 mt-4 text-xl transform -translate-y-2" aria-hidden="true">
            <i class="fas fa-check text-white text-xs absolute inset-x-0
                               ml-1 mt-2"></i>
          </span>

          <!-- follow button -->
            {% if profile.user == request.user %}
                <a href="{% url 'edit_profile' %}" class="bg-gray-200 px-2 py-1
                        text-black font-semibold text-sm rounded block text-center
                        sm:inline-block block">Edit Profile</a>
                 <i class="fas fa-cog ml-5 mt-1"></i>
                {% else %}

                  {% if follow_status == True %}
                      <a href="{% url 'follow' profile.user 0 %}" class="bg-red-500 px-2 py-1
                        text-white font-semibold text-sm rounded block text-center
                        sm:inline-block block">UnFollow</a>

                      <a href="{% url 'new_message' profile.user %}" class="bg-gray-300 bg-opacity-70 px-2 py-1
                        text-black font-semibold text-sm rounded block text-center
                        sm:inline-block block ml-5">Message</a>
                      {% else %}
          <a href="{% url 'follow' profile.user 1 %}" class="bg-blue-500 px-2 py-1
                        text-white font-semibold text-sm rounded block text-center
                        sm:inline-block block">Follow</a>
                      {% endif %}

            <!-- message button -->

            {% endif %}

        </div>

        <!-- post, following, followers list for medium screens -->
        <ul class="hidden md:flex space-x-8 mb-4">
          <li>
            <span class="font-semibold">{{ post_count }}</span>
            posts
          </li>
            <li>
            <span class="font-semibold">{{ following_count }}</span>
            followers
          </li>
          <li>
            <span class="font-semibold">{{ followers_count }}</span>
            following
          </li>

        </ul>

        <!-- user meta form medium screens -->
        <div class="hidden md:block">
          <h1 class="font-semibold">{{ profile.first_name }} {{ profile.last_name }}</h1>
            <p>{{ profile.bio }}</p>
            <a href="{{ profile.url }}" target="_blank" style="color: #1161ee">{{ profile.url }}</a><br>
          <p>{{ profile.location }} <i class="fas fa-location inset-x-0"></i></p>
        </div>

      </div>

      <!-- user meta form small screens -->
      <div class="md:hidden text-sm my-2">
        <h1 class="font-semibold">baby_b.oss</h1>
        <span>Travel, Coding, Design and Music</span>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>

    </header>

    <!-- posts -->
    <div class="px-px md:px-3">

      <!-- user following for mobile only -->
      <ul class="flex md:hidden justify-around space-x-8 border-t
                text-center p-2 text-gray-600 leading-snug text-sm">
        <li>
          <span class="font-semibold block">{{ post_count }}</span>
          posts
        </li>

        <li>
            <span class="font-semibold">{{ following_count }}</span>
            followers
          </li>
          <li>
            <span class="font-semibold">{{ followers_count }}</span>
            following
          </li>
      </ul>

      <!-- insta freatures -->
      <ul class="flex items-center justify-around md:justify-center space-x-12
                    uppercase tracking-widest font-semibold text-xs text-gray-600
                    border-t">
        <!-- posts tab is active -->



                {% if url_name == "profile" %}
                    <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700 font-weight-bold">
                      <a class="inline-block p-3" href="{% url 'profile' profile.user %}">
                        <i class="fas fa-th-large text-xl md:text-xs"></i>
                        <span class="hidden md:inline">Posts</span>
                      </a>
                     </li>
                    {% else %}
                    <li>
                      <a class="inline-block p-3" href="{% url 'profile' profile.user %}">
                        <i class="fas fa-th-large text-xl md:text-xs"></i>
                        <span class="hidden md:inline">Posts</span>
                      </a>
                     </li>
                 {% endif %}


          {% if url_name == "favourite" %}
            <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700 font-weight-bold">
              <a class="inline-block p-3" href="{% url 'favourite' profile.user %}">
                <i class="far fa-bookmark text-xl md:text-xs"></i>
                <span class="hidden md:inline">Saved</span>
              </a>
            </li>
              {% else %}
              <li>
              <a class="inline-block p-3" href="{% url 'favourite' profile.user %}">
                <i class="far fa-bookmark text-xl md:text-xs"></i>
                <span class="hidden md:inline">Saved</span>
              </a>
            </li>
          {% endif %}

        <li>
          <a class="inline-block p-3" href="#">
            <i class="fas fa-user border border-gray-500
                             px-1 pt-1 rounded text-xl md:text-xs"></i>
            <span class="hidden md:inline">tagged</span>
          </a>
        </li>
      </ul>
      <!-- flexbox grid -->
      <div class="flex flex-wrap -mx-px md:-mx-3">

        <!-- column -->
          {% if post_count == 0 %}
              <h1 style="font-weight: bolder; margin-left: 40%; padding-top: 50px">No Posts Yet
              <i class="fas fa-face-frown fa-2xl
                             px-1 pt-1"></i>
              </h1>
            {% else %}
              {% for post in posts %}

                    <div class="w-1/3 p-px md:px-3">
                      <!-- post 1-->
                      <a href="{{ post.get_absolute_url }}">
                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                          <!-- post image-->
                          <img class="w-full h-full absolute left-0 top-0 object-cover"
                               src="{{ post.picture.url }}" alt="image">

                          <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                          <!-- overlay-->
                          <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute left-0 top-0 hidden">
                            <div class="flex justify-center items-center
                                                space-x-4 h-full">
                              <span class="p-2">
                                <i class="fas fa-heart"></i>
                                {{ post.likes }}
                              </span>

                              <span class="p-2">
                                <i class="fas fa-comment"></i>
                                2,909
                              </span>
                            </div>
                          </div>

                        </article>
                      </a>
                    </div>
              {% endfor %}
          {% endif %}

      </div>
    </div>
  </div>
</main>

{% endblock %}