{% extends 'base.html' %}
{% load my_filters %}
{% load static %}
{% block content %}

<main class="main-container">

  <div class="lg:w-8/12 lg:mx-auto mb-8">

    <header class="flex flex-wrap items-center p-4 md:py-8">

      <div class="md:w-3/12 md:ml-16">
        <!-- profile image -->
        {% if profile.image %}
            <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                         border-2 border-pink-600 p-1" src="{{ profile.image.url }}" alt="no profile">
              {% else %}
              <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                         border-2 border-pink-600 p-1" src="{% static 'assets1/default-user.png' %}" alt="no profile">
        {% endif %}
      </div>

      <!-- profile meta -->
      <div class="w-8/12 md:w-7/12 ml-4">
        <div class="md:flex md:flex-wrap md:items-center mb-4">
          <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0" style="color: var(--text-dark)">
              {{ profile.user }}
          </h2>

          <!-- badge -->
          <span class="inline-block fas fa-certificate fa-lg text-blue-500
                               relative mr-6 mt-3 text-xl transform -translate-y-2" aria-hidden="true">
            <i class="fas fa-check text-white text-xs absolute inset-x-0
                               ml-1 mt-2"></i>
          </span>

          <!-- follow button -->
            {% if profile.user == request.user %}
                <a href="{% url 'edit_profile' %}" class="bg-gray-200 px-2 py-1
                        text-black font-semibold text-sm rounded block text-center
                        sm:inline-block block">Edit Profile</a>
                 <i class="fas fa-cog ml-5 mt-1"></i>
                {% else %}

                  {% if follow_status == True %}
                      <a href="{% url 'follow' profile.user 0 %}" class="bg-red-500 px-2 py-1
                        text-white font-semibold text-sm rounded block text-center
                        sm:inline-block block">UnFollow</a>

                      <a href="{% url 'new_message' profile.user %}" class="bg-gray-300 bg-opacity-70 px-2 py-1
                        font-semibold text-sm rounded block text-center
                        sm:inline-block block ml-5" style="color: var(--text-dark)">Message</a>
                      {% else %}
          <a href="{% url 'follow' profile.user 1 %}" class="bg-blue-500 px-2 py-1
                        text-white font-semibold text-sm rounded block text-center
                        sm:inline-block block">Follow</a>
                      {% endif %}

            <!-- message button -->

            {% endif %}

        </div>

        <!-- post, following, followers list for medium screens -->
        <ul class="hidden md:flex space-x-8 mb-4" style="color: var(--text-dark)">
          <li>
            <span class="font-semibold">{{ post_count }}</span>
            posts
          </li>
            <li>
            <span class="font-semibold">{{ following_count }}</span>
            followers
          </li>
          <li>
            <span class="font-semibold">{{ followers_count }}</span>
            following
          </li>

        </ul>

        <!-- user meta form medium screens -->
        <div class="hidden md:block" style="color: var(--text-dark)">
            {% if profile.first_name and profile.last_name %}
                <h6 class="font-semibold">{{ profile.first_name }} {{ profile.last_name }}</h6>
            {% else %}
                <h6 class="font-semibold">Instagram User</h6>
            {% endif %}

            {% if profile.bio %}
                    <p>{{ profile.bio }}</p>
            {% endif %}

            {% if profile.url %}
                    <a href="{{ profile.url }}" target="_blank" style="color: #1161ee">{{ profile.url }}</a><br>
            {% endif %}

            {% if profile.location %}
                  <p>{{ profile.location }} <i class="fas fa-location inset-x-0"></i></p>
            {% endif %}

        </div>

      </div>

      <!-- user meta form small screens -->
      <div class="md:hidden text-sm my-2">
        <h1 class="font-semibold">baby_b.oss</h1>
        <span>Travel, Coding, Design and Music</span>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>

    </header>

    <!-- posts -->
    <div class="px-px md:px-3">

      <!-- user following for mobile only -->
      <ul class="flex md:hidden justify-around space-x-8 border-t
                text-center p-2 leading-snug text-sm" style="color: var(--text-dark)">
        <li>
          <span class="font-semibold block">{{ post_count }}</span>
          posts
        </li>

        <li>
            <span class="font-semibold">{{ following_count }}</span>
            followers
          </li>
          <li>
            <span class="font-semibold">{{ followers_count }}</span>
            following
          </li>
      </ul>

      <!-- insta freatures -->
      <ul class="flex items-center justify-around md:justify-center space-x-12
                    uppercase tracking-widest font-semibold text-xs text-gray-600
                    border-t">
        <!-- posts tab is active -->



                {% if url_name == "profile" %}
                    <li class="md:border-t-4" style="color: var(--main_colour)">
                      <a class="inline-block p-3" href="{% url 'profile' profile.user %}">
                        <i class="fas fa-th-large text-xl md:text-xs" style="color: var(--text-dark)"></i>
                        <span class="hidden md:inline" style="color: var(--text-dark)">Posts</span>
                      </a>
                     </li>
                    {% else %}
                    <li style="color: var(--main_colour)">
                      <a class="inline-block p-3" href="{% url 'profile' profile.user %}">
                        <i class="fas fa-th-large text-xl md:text-xs" style="color: var(--text-dark)"></i>
                        <span class="hidden md:inline" style="color: var(--text-dark)">Posts</span>
                      </a>
                     </li>
                 {% endif %}


          {% if url_name == "favourite" %}
            <li class="md:border-t-4" style="color: var(--main_colour)">
              <a class="inline-block p-3" href="{% url 'favourite' profile.user %}">
                <i class="far fa-bookmark text-xl md:text-xs" style="color: var(--text-dark)"></i>
                <span class="hidden md:inline" style="color: var(--text-dark)">Saved</span>
              </a>
            </li>
              {% else %}
              <li style="color: var(--main_colour)">
              <a class="inline-block p-3" href="{% url 'favourite' profile.user %}">
                <i class="far fa-bookmark text-xl md:text-xs" style="color: var(--text-dark)"></i>
                <span class="hidden md:inline" style="color: var(--text-dark)">Saved</span>
              </a>
            </li>
          {% endif %}

        <li>
          <a class="inline-block p-3" href="#">
            <i class="fas fa-user border border-gray-500
                             px-1 pt-1 rounded text-xl md:text-xs" style="color: var(--text-dark)"></i>
            <span class="hidden md:inline" style="color: var(--text-dark)">tagged</span>
          </a>
        </li>
      </ul>
      <!-- flexbox grid -->
      <div class="flex flex-wrap -mx-px md:-mx-3">

        <!-- column -->
          {% if post_count == 0 %}
              <h1 style="color: var(--text-dark); font-weight: bolder; margin-left: 40%; padding-top: 50px">No Posts Yet
              <i class="fas fa-face-frown fa-2xl
                             px-1 pt-1"></i>
              </h1>
            {% else %}
              {% for post in posts %}

                    <div class="w-1/3 p-px md:px-3">
                      <!-- post 1-->
                      <a href="{{ post.get_absolute_url }}">
                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                          <!-- post image-->
                            {% for media in post.media.all %}
                                {% if media.file.url|lower|ends_with:".jpg" or media.file.url|lower|ends_with:".jpeg" or media.file.url|lower|ends_with:".png" or media.file.url|lower|ends_with:".gif" %}
                                    <img class="w-full h-full absolute left-0 top-0 object-cover" src="{{ media.file.url }}" alt="image">
                                {% elif media.file.url|lower|ends_with:".mp4" %}
                                    <video class="w-full h-full absolute left-0 top-0 object-cover" src="{{ media.file.url }}" autoplay muted loop style="height: 400px; object-fit: cover"></video>
                                {% endif %}
                            {% endfor %}
                          <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                          <!-- overlay-->
                        <a class="" data-toggle="modal" data-target="#exampleModalCenter_{{ post.id }}">
                          <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute left-0 top-0 hidden">
                            <div class="flex justify-center items-center
                                                space-x-4 h-full">
                              <span class="p-2">
                                <i class="fas fa-heart"></i>
                                {{ post.likes.count }}
                              </span>

                              <span class="p-2">
                                <i class="fas fa-comment"></i>

                                  {% if comment_counts|get_item:post.id > 0 %}
                                        &nbsp;{{ comment_counts|get_item:post.id }}
                                  {% else %}
                                        &nbsp;0
                                  {% endif %}
                              </span>
                            </div>
                          </div>
                        </a>

                        </article>
                      </a>
                    </div>
              {% endfor %}
          {% endif %}

      </div>

    </div>


    <div class="stories" id="stories" style="display: none">
                <button class="stories__left-button">
                  <i class="fa-solid fa-chevron-left fa-2x"></i>
                </button>
                    <div class="stories__content">
                            <button class="story">

                            </button>
                    </div> <!-----stories__content ----->

                <button class="stories__right-button">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </button>

            </div>


   {% for post in posts %}
    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 15%;">
                <div class="modal-content" >
                  <div class="modal-body" style="width: 80vw;">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                      <div class="post-container">
                        <article class="post">
                              <div class="post__content">
                                     <div class="post__medias">
                                        {% for media in post.media.all %}
                                            {% if media.file.url|lower|ends_with:".jpg" or media.file.url|lower|ends_with:".jpeg" or media.file.url|lower|ends_with:".png" or media.file.url|lower|ends_with:".gif" %}
                                                <img class="post__media" src="{{ media.file.url }}" alt="Post Content" style="height: 100%;"/>
                                            {% elif media.file.url|lower|ends_with:".mp4" %}
                                                <video class="post__media" src="{{ media.file.url }}" autoplay muted loop style="height: 100%;"></video>
                                            {% endif %}
                                        {% endfor %}
                                     </div>
                              </div>

                                 <div class="post__footer" style="margin-top: -35%;">
                                        <div class="post__buttons" >
                                             <div class="post__indicators"></div>
                                        </div>
                                 </div>

                        </article>

                        <article class="post">
                                      <div class="post__header">
                                            <div class="post__profile">
                                              <a href="#" class="post__avatar">
                                                <img src="{% static 'assets1/default-user.png' %}" alt="User Picture" />
                                              </a>
                                              <a href="{{ post.user.username }}" class="post__user">{{ post.user.username }}</a>
                                            </div>

                                            <button class="post__more-options">
                                              <i class="fa-solid fa-ellipsis fa-lg"></i>
                                            </button>
                                      </div>

                                      <div class="post__content">
                                             <div class="post__medias">
                                                 <p>Lorem100</p>
                                             </div>
                                      </div>

                                      <div class="post__footer">
                                        <div class="post__buttons">
                                        <form method="post" action="{% url 'like_post' %}">
                                            {% csrf_token %}
                                                <button type="submit" class="like-btn" data-post-id="{{ post.id }}">
                                                    {% if request.user in post.likes.all %}
                                                        Unlike
                                                    {% else %}
                                                        Like
                                                    {% endif %}
                                                </button>
                                        </form>

                                            {# Comment icon #}
                                          <a href="" class="post__button">
                                                <i class="fa-regular fa-comment fa-2x" style="color: black; font-size: 27px;"></i>
                                          </a>
                                                {# Send message icon #}
                                          <a href="" class="post__button">
                                                <i class="fa-regular fa-paper-plane fa-2x" style="color: black; font-size: 27px;"></i>
                                          </a>

                                          <div class="post__indicators"></div>

                                          <a href="" class="post__button post__button--align-right">
                                            <svg
                                              width="24"
                                              height="24"
                                              viewBox="0 0 24 24"
                                              fill="none"
                                              xmlns="http://www.w3.org/2000/svg"
                                            >
                                              <path
                                                d="M19.875 2H4.125C3.50625 2 3 2.44939 3 3.00481V22.4648C3 23.0202 3.36563 23.1616 3.82125 22.7728L11.5444 16.1986C11.7244 16.0471 12.0225 16.0471 12.2025 16.1936L20.1731 22.7879C20.6287 23.1666 21 23.0202 21 22.4648V3.00481C21 2.44939 20.4994 2 19.875 2ZM19.3125 20.0209L13.3444 15.0827C12.9281 14.7394 12.405 14.5677 11.8763 14.5677C11.3363 14.5677 10.8019 14.7444 10.3856 15.0979L4.6875 19.9502V3.51479H19.3125V20.0209Z"
                                                fill="var(--text-dark)"
                                                stroke="var(--text-dark)"
                                                stroke-width="0.7"></path>
                                            </svg>
                                          </a>
                                        </div>

                                        <div class="post__infos">
                                          <div class="post__likes">
                                            <a href="#" class="post__likes-avatar">
                                              <img src="{{ post.user.picture.url }}" alt="User Picture" />
                                            </a>

                                            <span
                                              >
                                              <a class="post__name--underline" href="#">{{ post.likes.count }} Likes</a>
                                              </span
                                            >
                                          </div>

                                          <div class="post__description">
                                            <span>
                                                <a class="post__name--underline" href="#"><b>{{ post.user.username }}</b></a>
                                              {{ post.caption }}
                                            </span>
                                          </div>

                                            <span class="">
                        {#                        {% for tag in post.tags.all %}#}
                        {#                            <a href="{{ tag.get_absolute_url }}" style="text-decoration: none">#{{ tag }}</a>#}
                        {#                        {% endfor %}#}
                                                {% for tag in post.tags.all %}
                                                   <a href="{% url 'tag-detail' slug=tag.slug %}">#{{ tag.name }}</a>
                                                {% endfor %}
                                            </span>

                                          <span class="post__date-time">{{ post.posted| timesince_hours }} ago</span>
                                        </div>
                                      </div>


                        </article>
                      </div>

                  </div>
                </div>
              </div>
        </div>

   {% endfor %}

  </div>
</main>

    <style>
   .post-container {
  display: flex;
       height: 85vh;
       background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.post {
  flex: 1;
}
    </style>
{% endblock %}