{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<div id="main-wrapper">
  <div class="main-content">
    <div class="logo">
      <img src="{% static 'assets1/logo.svg' %}" />
    </div>

    <div class="l-part">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
{#              <input type="text" placeholder="Username" class="input-1" />#}
{##}
{#              <div class="overlap-text">#}
{#                <input type="password" placeholder="Password" class="input-2" />#}
{#              </div>#}
{##}
{#              <div class="overlap-text">#}
{#                <input type="password" placeholder="Confirm Password" class="input-2" />#}
{#              </div>#}
                <br>
              <input type="submit" value="Sign Up" class="btn1" />
        </form>

    </div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Already have an account?<a href="{% url 'login' %}">Sign in</a>
    </div>
  </div>
</div>



{% endblock %}