{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>


  <div class="modal fade" id="searchuserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-body" style="background-color: var(--main_colour); border: 1px solid var(--border);">

    <div class="container">
      <div class="form-data">
         <form action="" method="GET" id="searchForm">
            <div class="headedr__search">
                <input type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
         </form>

         <div id="searchResults"><!-----Search_results.html----></div>
      </div>
    </div>
</div>
  </div>
    </div>
  </div>


<script>
    $(document).ready(function() {
        $('#searchForm').submit(function(event) {
            event.preventDefault();  // Prevent the form from submitting normally

            var formData = $(this).serialize();  // Serialize form data

            $.ajax({
                type: 'GET',
                url: '{% url 'user_search' %}',
                data: formData,
                success: function(response) {
                    $('#searchResults').html(response);  // Update the search results div
                },
                error: function(xhr, status, error) {
                    console.log(error);  // Handle any errors
                }
            });
        });
    });
</script>
{% endblock content %}