#ig_app
{
	padding-top: 65px;
	padding-bottom: 65px;
}

#ig_app
{
	padding-top: 65px;
	padding-bottom: 65px;
}

#ig_header
{
	position: fixed;
	top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	color: var(--text-dark);
	background-color: var(--main_colour);
	z-index: 10;
	font-size: 24px;
	font-weight: 700;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

#in_all_caught,#in_all_caught i
{
	position: relative;
	background: linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#ig_activity
{
	font-size: 15.5px;
}

#ig_activity .row
{
	margin-bottom: 25px;
}

#in_all_caught
{
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 100%;
	font-size: 20px;
}

#in_all_caught::before
{
	position: absolute;
	background-color: var(--main_colour);
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(.9);
	border-radius: 100%;
	z-index: 9;
}

#in_all_caught i
{
	z-index: 10;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#ig_activity>span
{
	font-size: 18.5px;
	font-weight: 600;
	display: block;
	margin-bottom: 18px;
}

#ig_activity img.ia_user_img
{
	width: 48px;
	height: 50px;
	border-radius: 100%;
}

#ig_activity .ia_user
{
	font-weight: 600;
}

#ig_activity .ia_time
{
	color: rgba(100, 94, 94, 0.75);
}

#ig_activity button
{
	border: none;
	background-color: #0095f6;
	color: var(--text-dark);
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .3px;
	border-radius: 8px;
}

#ig_activity img.ia_post
{
	width: 70px;
	height: 70px;
}

#ig_activity .ia_n_imgs
{
	position: relative;
}

#ig_activity .ia_n_imgs img
{
	position: absolute;
	width: 42px;
	border: 2.5px solid var(--border);
}

#ig_activity .ia_n_imgs img:last-child
{
	margin-top: 12px;
	margin-left: 8px;
}

#ig_footer
{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: var(--main_colour);
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid rgba(0,0,0,.1);
}

#ig_footer ul li
{
	float: left;
	width: 20%;
	list-style: none;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

#ig_footer ul li i.fa-heart-o
{
	text-shadow: 1px 0 0 #000;
}

#ig_footer ul li img
{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-top: -4px;

}