@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}

/* Vars */
:root {
    --main_colour: hsl(0, 0%, 100%);
    --secondary_css: hsl(0, 0%, 98%);
    --border: hsl(0, 11%, 73%);

    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);

    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);

    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);

    --header-height: 44px;
    --nav-height: 44px;
    --text-orange: hsl(0, 0%, 15%);
}
:root.darkTheme {
    --main_colour: hsl(0, 0%, 0%);
    --secondary_css: hsl(0, 0%, 2%);
    --border: hsl(0, 0%, 40%);

    --story-border: hsl(0, 0%, 44%);
    --img-border: hsla(0, 0%, 100%, 0.1);

    --text-dark: hsl(0, 0%, 98%);
    --text-light: hsl(0, 0%, 60%);

    --text-orange: orange;
}

body {
  margin: 0;
  background: var(--main_colour);
  color: var(--text-dark);
  font-family: BlinkMacSystemFont, cursive;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: var(--main_colour);
  border-right: 1px solid var(--border);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.logo-icon {
  display: none;
  font-size: 28px;
  height: 35px;
  width: 51px;
  text-align: center;
}

.logo-img {
  margin-left: 14px;
  height: 32px;
}

.sidebar button {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar button > span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar button:hover > span {
  background: rgba(128, 128, 128, 0.31);
}

.sidebar button:hover > span :is(i, img) {
  scale: 1.05;
}

.sidebar button > span > span {
  transition: 0.3s;
}

@media (max-width: 580px) {
  .logo-img {
    display: none;
  }

  .logo-icon {
    display: block;
  }

  .sidebar {
    width: 72px;
  }

  .sidebar button > span {
    width: 50px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  }
}

.sidebar button i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar button i > span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid var(--border);
  background: #ff2f40;
  color: var(--text-dark);
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button i > em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: 2px;
  right: -1px;
  border: 1px solid var(--border);
  background: #ff2f40;
  color: var(--text-dark);
  font-size: 12px;
    font-family: BlinkMacSystemFont, serif;
  font-style: normal;
}

.sidebar button span {
  font-size: 17px;
}

.sidebar > nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar > nav button:last-child {
  margin-top: auto;
}
.iconic:hover{
 color: var(--text-dark);
}